<!-- <div style="padding: 10px 20px;"> -->
<h5 class="onePhotoTitle firstTitle">Distribución de habitaciones</h5>
<img [src]="this.assetsService.buildAssetsPath('habitaciones.png')" style="width: 100%;"/>
<h5 class="onePhotoTitle">Económico</h5>
<img [src]="this.assetsService.buildAssetsPath('economico.png')" style="width: 100%;"/>
<h5 class="onePhotoTitle">Desglose por persona</h5>
<img [src]="this.assetsService.buildAssetsPath('desglosepersona.png')" style="width: 100%;"/>
<h5 class="onePhotoTitle">Bebidas incluidas en las comidas</h5>
<img [src]="this.assetsService.buildAssetsPath('bebidas.png')" style="width: 100%;"/>
<div style="margin-top:120px"></div>
<!-- </div> -->