i{
    width: 25%;
    margin:auto;
    margin-bottom: 10%;
    color: white;
}

p{
    width: 80%;
    color: white;
    margin: auto;
    text-align: center;
}

.divImage{
  width: 38%;
  margin: auto;
}
button{
    position: fixed;
    bottom: 0;
}

.fade-in-button{
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
}
.enterButton{
  max-width: 500px;
  margin: auto;
}