<div class="card maxWidth">
    <div class="card-header orangeBackground">
      <b> Creado por CSL Company</b> 
    </div>
    <div class="card-body">
      <h5 class="card-title orangeTitle">CSL <i class="far fa-registered"></i></h5>
      <p class="card-text">CSL & Co se reserva el derecho de uso sobre estos datos y la modificación de los mismos sin previo aviso a los interesados. </p>
      <p class="card-text">Todo la información que puedas encontrar en esta aplicación puede ser mentira o no.</p>
      <p class="card-text">No se admitiran quejas y/o reproches si no vienen acompañadas de una mejor idea para proximos eventos</p>
      <p class="card-text">Gracias por su colaboración en todos los apartados, seguiremos informando</p>
    </div>
  </div>