<div class="promptDiv primaryBackground">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <app-prompt-slide [Icon]="'fas fa-key'" [Text]="'Bienvenido a la Oblancada 2023. Lo siguiente que vas a encontrar serán las pistas de la contraseña que necesitarás para entrar.'" ></app-prompt-slide>
        </div>
        <div class="carousel-item">
            <app-prompt-slide [Icon]="'fas fa-user-lock'" [Text]="'En el firmamento, un ángel con alas. Cinco años han pasado desde que nos aguarda.'" ></app-prompt-slide>
        </div>
        <div class="carousel-item">
            <app-prompt-slide [Icon]="'fas fa-ban'" 
            [Text]="'De pollitos y gallinas va la cosa, solo necesitas el año en que se fundó.'"></app-prompt-slide>
        </div>
        <div class="carousel-item">
            <app-prompt-slide [Icon]="'fas fa-sign-in-alt'" [Text]="'Si crees tener la respuesta intenta entrar con tu nombre y la contraseña que acabas de adivinar.'" [IsLast]="true"></app-prompt-slide>
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon bounce" aria-hidden="true"></span>
        </a>
    </div>
</div>