<div class="card margin60up maxWidth">
    <div class="card-body">
      <h5 class="card-title orangeBackground">Posada Prado Rey</h5>
      <p class="card-text"></p>

      <img [src]="this.assetsService.buildAssetsPath('pradoReyHome.jpg')" alt="Posada Prado Rey">

      <p><b>Descripción:</b> La Posada de PRADOREY, está construida en estilo herreriano por el Duque de Lerma en el año 1601 como un palacete de caza para el rey Felipe III y hoy en día, es uno de los alojamientos más singulares ideales para descansar y desconectar en un entorno único, disfrutando de un ambiente cercano y familiar. </p>
      <p><b>Lugar:</b> Gumiel de Mercado (Burgos) </p>
      <p><b>Comodidades:</b> El ediﬁcio mantiene intacta su estructura exterior que data del siglo XVII. Como complemento, unos jardines que invitan a la reﬂexión, lectura y descanso, así como pistas deportivas para practicar padel, tenis o baloncesto y piscina.</p>
      <p><b>Fecha:</b> Desde el viernes 29/09/2023 hasta el domingo 01/10/2023</p>

      <a href="https://pradorey.es/posada/" 
         class="btn btn-outline-primary" target="_blank">
        <i class="fas fa-globe-europe"></i>  
        Web
      </a>
      <a [href]="loginService.currentRoute" 
         class="btn btn-outline-primary" target="_blank" style="float:right">
        <i class="fas fa-map-signs"></i>
        Como llegar
      </a>
    </div>
  </div>