img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
}
.orangeBackground{
    background-color: #FEB157;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.maxWidth{
    max-width: 800px;
    margin: auto;
  } 
  .grid-container-homeButtons {
    display: grid;
    grid-template-columns: 26% 33% 41%;
    gap: 0px; /* Adjust the gap between columns */
  }
  
  .grid-item-homeButtons {
    padding: 8px;
    text-align: center;
  }